<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/extras/dialect"
      layout:decorator="layout/main">

<body layout:fragment="content">


<div class="row">
    <div class="col-md-6">
        <div class="form-heading">Parent Survey Details</div>

        <div class="form-group required">
            <span th:text="${parentSurveyDTO.parentDTO.name}"></span>

        </div>
        <div class="form-group required">
            <span th:text="${parentSurveyDTO.parentDTO.phoneNo}"></span>

        </div>
        <div class="form-group required">
            <span th:text="${parentSurveyDTO.parentDTO.email}"></span>

        </div>
        <div class="form-group required">
            <span th:text="${parentSurveyDTO.parentDTO.address}"></span>

        </div>
       <!-- <div class="form-group required">
            <span th:text="${parentSurveyDTO.parentDTO.noOfChildren}"></span>

        </div>-->
        <div class="form-group required">
            <span th:text="${parentSurveyDTO.parentDTO.standard}"></span>

        </div>
        <div class="form-group required">
            <span th:text="${parentSurveyDTO.parentDTO.schoolName}"></span>

        </div>

        <div class="form-heading">Question option Evaluation</div>
        <!--@thymesVar id="userDTOs" type="java.util.List<at.teamecho.dto.UserDTO>"-->
        <span th:text="${parentSurveyDTO.questionDTO.name}"></span>
        <table class="table table-bordered table-condensed">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Hierarchy
                </th>


            </tr>
            <tr th:each="optionDTO : ${parentSurveyDTO.optionDTO}">
                <td>
                    <span th:text="${optionDTO.name}"></span>

                </td>
                <td>
                    <span th:text="${optionDTO.questionHierarchy}"></span>

                </td>

            </tr>
        </table>


    </div>
</div>

</body>
<th:block layout:fragment="script">
    <script th:src="@{/js/users.js}"></script>


</th:block>
</html>
